[Desktop Entry]
Type=Application
Name=Video Player
Exec=/home/alva/.lantern/bin/lntrn-video-player %f
Icon=/home/alva/.lantern/icons/lntrn-video-player.svg
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/x-matroska;video/webm;video/avi;video/x-flv;video/quicktime;video/x-msvideo;video/ogg;video/mpeg;
