[submodule "menu"]
	path = lntrn-menu
	url = https://github.com/Jca56/lntrn-menu.git
[submodule "window_manager"]
	path = lntrn-window-manager
	url = https://github.com/Jca56/lntrn-window-manager.git
