[Desktop Entry]
Type=Application
Name=Lantern Edit
Comment=Video editor
Exec=lntrn-video-editor %f
Icon=flicker
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=lntrn-video-editor
MimeType=video/mp4;video/x-matroska;video/webm;video/avi;video/x-flv;video/quicktime;video/x-msvideo;video/x-m4v;video/x-ms-wmv;video/ogg;video/mpeg;
