[Desktop Entry]
Name=Lantern
Comment=Lantern Desktop Environment
Exec=/home/alva/.lantern/bin/lntrn-session-manager
Type=Application
DesktopNames=Lantern
