[Desktop Entry]
Type=Application
Name=Media Player
Exec=lntrn-media-player %f
Icon=lntrn-media-player
Terminal=false
Categories=AudioVideo;Video;Audio;Player;
MimeType=video/mp4;video/x-matroska;video/webm;video/avi;video/x-flv;video/quicktime;video/x-msvideo;video/x-m4v;video/x-ms-wmv;video/ogg;video/mpeg;audio/mpeg;audio/mp3;audio/flac;audio/x-flac;audio/wav;audio/x-wav;audio/wave;audio/vnd.wave;audio/ogg;audio/x-vorbis+ogg;audio/vorbis;audio/webm;audio/aac;audio/x-aac;audio/x-aiff;audio/aiff;audio/mp4;audio/m4a;audio/x-m4a;audio/x-opus+ogg;audio/opus;audio/x-ms-wma;
