[Desktop Entry]
Type=Application
Name=Notepad
GenericName=Document Editor
Comment=Write and format documents
Exec=lntrn-notepad %F
Icon=lntrn-notepad
Terminal=false
Categories=Office;WordProcessor;
MimeType=text/plain;text/x-readme;text/csv;text/tab-separated-values;
